
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/callkangaroo.css?{% now " U" %}" />
    <link href="https://fonts.googleapis.com/css2?family=Love+Light&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&display=swap" rel="stylesheet">
    <title>Jack and Jill | CallKangaroo</title>
    
</head>

<body>
    <h1>Welcome to Kangaroo's land... </h1>
    <div class="form">
        <form action="/callkangaroo" method="post">
            {% csrf_token %}
            <input type="text" name="noti" value="Aao na Kangaroo.." style="visibility:hidden ;"><br>
            <input type="image" src="/static/img/kangaroo.png" alt="Submit" id="submit">
        </form>
    </div>
    <div>
        <h2>You can find some storys regarding Kangaroo</h2>
        <h3>Title :- THE LITTLE KANGAROO WHO SAID ‘NO’</h3>
        <p>
            In a far away forest, on the edge of the town, lived a family of kangaroos. They were the mother kangaroo,
            the father kangaroo, Kinky the son kangaroo, and the little baby kangaroo who was just born, and lived in
            the mother’s pouch. <br>
            One day, mother Kangaroo asked Kinky to collect some sweet grass from the other side of the stream, for baby
            kangaroo. Kinky was a naughty boy. He did not want to work. He was lazy and only wanted to play. He fussed,
            and stamped his hoof, and said, “No, I don’t want to, I want to play with my friends.”
            <br>
            But Kinky being a naughty boy just stamped his hoof and said, “No, No.”

            His mother looked sad. She said, “If you don’t help me out in the house, then you shall have to sit in a
            corner and think about what you have said, whether it is right or wrong.”

            Kinky was still angry. He stomped off to the corner, sat on his hind feet, and thought for a long while.

            When his mother called him, he said crossly, “What is it mother?”.

            She asked, “Have you thought about helping me in my work in the house.”
            <br>
            Now Kinky was a stubborn boy. He did not want to do what his mother had asked him to do. In fact he did not
            like doing anything grownups asked him to do. So he shook his head, wiggled his ears and said “No” again.

            His mother said, “Well, if you don’t listen, you shall stay in that corner and not go out to play for the
            rest of the day, and no dinner for you.”

            Now Kinky did not like that. He stood upon his hind legs and looked out into the forest, and saw his friends
            playing and romping about. He was so angry that he thumped on the wall, stomped his hoof some more, and made
            loud noises. This disturbed the family as they sat down to have their lunch. His father came up, and scolded
            Kinky. But Kinky was still stubborn.
            <br>
            He continued to look out at the field. As he looked out he saw a butterfly dashing itself against the tree
            nearby again and again. It flew away a little and flew back again, hurting itself as it hit against the bark
            of the tree. He said aloud to the butterfly “Why are you so stubborn. dashing yourself against the bark of
            the tree which was so strong, however much you try, you will only get hurt”.

            The little butterfly said, “I want to get behind the tree and hide myself from my family as I don’t want to
            go out with them, I just want to fly by myself.”

            “Silly”, said Kinky, “why are you so stubborn.You will only hurt yourself some more. You should listen to
            your mother. If you make her happy, you will feel happy. ”

            As soon as Kinky said this, he began to see how much he was like the butterfly. He did not please his
            mother, he made his family unhappy. In the end everyone was hurt, because he was so stubborn and selfish.
            His face became sad. He sat down, and tears came into his eyes. He felt sorry for having been so selfish.

            He ran to the other side of the stream, hopping away as fast as he could into the woods, tore off some sweet
            grass, came back as quickly as he could and laid the grass on baby kangaroo’s plate. His mother looked at
            him and smiled. His father grinned happily. He knew he was forgiven.

            Ever after that Kinky was very happy to help his mother around the house and to be her little her little
            helper. <br>

            <button onclick="gotonew()">Newwebapp</button>

        </p>
    </div>

    <script>
        function gotonew(){
            window.location.href = 'https://jackjill.pythonanywhere.com/newwebapp'
        }
    </script>

<script src="/static/js/others.js?{% now " U" %}""></script>

</body>

</html>