
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Love+Light&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bona+Nova:ital@1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/ChatApp.css?{% now " U" %}" />
    <!-- <link rel="stylesheet" href="/static/css/chat.css?{% now " U" %}" /> -->
    <script src="/static/js/others.js?{% now " U" %}""></script>
    <title>Jack and Jill</title>
    <script>
        let pass = prompt("Please Enter the Password?")
        if (pass == "9122275966") {
            console.log("I am Sorry ,and I love you Neha");
        }
        else {
            window.location.href = "https://jackjill.pythonanywhere.com/getout";
        }

    </script>
</head>

<body id="body">
    <div class="main" id="nav-narrow">
        <div id="mainname">
            <!-- <p>Jack & Jill</p> -->
            <a href="https://www.jackandjill.in/">Jack & Jill</a>
        </div>
        <ul id="nav-list">
            <li style="background-color: #FF7B7A;"><a href="https://www.jackandjill.in/#activities">Child Devlopment</a>
            </li>
            <li style="background-color: #E7FF7A;"><a href="https://www.jackandjill.in/#management">Foroebel
                    Principles</a></li>
            <li style="background-color: #7AFF91;"><a href="https://www.jackandjill.in/#library">Howard Gardner
                    Theory</a></li>
            <li style="background-color: #7ABBFF"><a href="https://www.jackandjill.in/#computer-lab">Montessori
                    Principle</a></li>
            <li style="background-color: #C77AFF;"><a href="https://www.jackandjill.in/#holidays">Reggio Approch</a>
            </li>
        </ul>
    </div>

    <div class="main" id="main-content">
        <div class="subitems" id="category">
            <div id="box-category">
                <div class="blocks" id="firstblock"><a href="https://www.jackandjill.in/#welcome">Welcome</a></div>
                <div class="blocks"><a href="https://www.jackandjill.in/#about-us">About Us</a></div>
                <div class="blocks"><a href="https://www.jackandjill.in/#management">Management</a></div>
                <div class="blocks"><a href="https://jackjill.pythonanywhere.com/calldetect">Pedagogy_KC</a></div>
                <div class="blocks"><a href="https://www.jackandjill.in/#activities">Activities</a></div>
                <div class="blocks"><a href="https://www.jackandjill.in/#facilities">Facilities</a></div>
                <div class="blocks"><a href="https://www.jackandjill.in/#smart-classroom">Smart Classroom</a></div>
                <div class="blocks"><a href="https://www.jackandjill.in/#library">Library</a></div>
                <div class="blocks"><a href="https://www.jackandjill.in/#computer-lab">Computer Lab</a></div>
                <div class="blocks"><a href="https://www.jackandjill.in/#transportation">Transportation</a></div>
                <div class="blocks"><a href="https://www.jackandjill.in/#admission">Admission</a></div>
                <div class="blocks"><a href="https://jackjill.pythonanywhere.com/Meet">Fees</a></div>
                <div class="blocks"><a href="https://www.jackandjill.in/#parent-login">Parents Login</a></div>
                <div class="blocks"><a href="https://www.jackandjill.in/#holidays">Holidays</a></div>
                <div class="blocks"><a href="https://www.jackandjill.in/#contact-us">Contect us</a></div>
            </div>
        </div>
        <div class="subitems" id="content">

            <div class="sub-subitems" id="context">
                <img src="/static/img/jack&jill_context_image.jpg" alt="" id="image">
            </div>
            <div class="sub-subitems" id="link">
                <div id="sublink">
                    <h1 id="activities_head">Activities</h1>
                    <p class="activities-para">We believe in making our little geniuses ‘Think Big’. Hence, each little
                        event of life is celebrated with grandeur so as to provide opportunities to these aspiring tiny
                        tots to perform before large audiences and give you moments of pride as parents. Our set of
                        activities will include celebrations, events, workshops, visits and so on…</p>
                    <img src="https://www.jackandjill.in/images/uploads/other_activities.png" alt="..." id="sublinkimg">
                    <p class="activities-para">
                        Hello <a href="https://www.jackandjill.in/#management">Click here</a> to check our management we
                        are one of the best organisation in the country, <a
                            href="https://www.jackandjill.in/#transportation">Click Here</a> to check our transportation
                        services for our childrens, we will make sure that consuming knowladge can become easliy
                        accesible and affordable,The prime endeavor of <b onclick="hatt()">Jack & Jill</b> is to let a
                        child grow and develop with own natural pace rather than rushing a child and depriving him/her
                        of a fun and charming childhood. At <b style="color: #C77AFF;" onclick="hatt()">Jack & Jill</b>
                        we incorporate key values of fun, respect, honesty, patience and kindness. Mentors ensure that
                        Indian values, manners and etiquettes are inculcated in each and every child. A small and
                        convenient mentor to child ratio will enable this, as the mentor can shower equal and undivided
                        attention on each child. We expect parents to:,‘Intellectual Needs’ are important but let us
                        understand that ‘Emotional needs’ of a child are equally important and by addressing his
                        emotional needs, we develop positive self esteem in a child. Give each child his ‘corner’ – his
                        canvas to express himself.

                        All you need is to have faith in the child’s ability. It is also the highest form of
                        encouragement. Only when you truly believe in the child, he can believe in himself. <br> <br>
                        <b onclick="hatt()">Jack & Jill… school has:-</b> <br><br>
                        Colourful Smart Classrooms<br>
                        Pre-primary activity room<br>
                        Computer room<br>
                        <span onclick="toggle2()" style="margin-left: 0.01em;">Art and Craft room</span> <br>
                        Chemistry Lab <br>
                        Childrens’ library<br>
                        Audio-Visual room<br>
                        Doll room<br>
                        Ball room<br>
                        Educational Equipment / Toys room<br>
                        Open area with Slides and Rides<br>

                    </p>


                </div>
            </div>
            <div class="sub-subitems" id="main-chat">
                <div id="chat">
                    <div id="chat-head">
                        <h2 id="welcome-dear-head">Welcome Diry</h2>
                        <h3 id="head-text">Messanger...but,!Be carefull </b></h3>
                        <span id="eva-style">
                            <p onclick="toggle3()">Eva</p>
                        </span>
                        <!-- <span class="user-style">Adam</span> -->
                    </div>
                    <div id="main-massanger">
                        <div class="recent-chats chat-content" id="main-recent-chats">
                            <div class="a-chat">
                                <div class="username-message"
                                    style="font-family: 'Merienda', cursive;font-size: 0.8em;">Time:-Forever..</div>
                                <div class="username-message">Adam</div>
                                <div class="chat-message">Ab type
                                    karna....................................................................</div>
                            </div> <br>
                            {% for chat in chats %}
                            <div class="a-chat">
                                <div class="username-message"
                                    style="font-family: 'Merienda', cursive;font-size: 0.8em;">{{chat.timestamp}}</div>
                                <div class="username-message">{{chat.user}}</div>
                                <div class="chat-message">{{chat.message}}</div>
                            </div> <br>
                            {% endfor %}

                        </div>
                        <div class="recent-chats" id="fake-recent-chats">

                        </div>
                        <div id="accoseries">
                            <div id="chatting-inputs">
                                <input type="text" id="input-message" placeholder="type a message">
                                <input type="button" value="Send" id="input-btn">
                            </div>
                            <div id="others">
                                <!-- <div id="escape" onclick="Meet()">Meet</div> -->
                                <div id="upload_image">
                                    <a href="https://jackjill.pythonanywhere.com/upload"><img
                                            src="https://www.lmpixels.com/demo/loveis/images/social/instagram.png"
                                            alt="..."></a>
                                </div>
                                <div id="log" onclick="log()">logs</div>
                                <div id="main" onclick="Main()">Main</div>

                            </div>


                        </div>
                    </div>
                </div>

            </div>
            <div class="sub-subitems" id="footer">
                <div id="contect">
                    <div id="text">
                        <h1 id="contecthead">Contact US</h1>
                        <br>
                        <br>
                        <h3>Course Co-ordinator</h3>
                        <h3>Jack n Jill School</h3>
                        <h3>( Old Aryan College Campus )</h3>
                        <h3>Near Ram Bhawan,</h3>
                        <h3>Shastri Nagar, Ajmer 305001</h3> <br><br>
                        <h3 style="display: inline-block;">Helpdesk:</h3><b
                            style="background-color: rgb(4, 157, 4); border-radius: 3em; font-size: 0.8em; margin-left: 0.7em; color: white; padding: 0.1em; padding: 0.1em 0.4em;">0145-2627330</b>
                        <b
                            style="background-color: rgb(4, 157, 4); border-radius: 3em; font-size: 0.8em; margin-left: 0.4em; color: white; padding: 0.1em; padding: 0.1em 0.4em;">09636666611</b>
                        <br>
                        <h3 style="display: inline-block;">Email us @</h3><b
                            style="background-color: #b94a48; border-radius: 0.3em; font-size: 0.8em; margin-left: 0.7em; color: white; padding: 0.1em; padding: 0.1em 0.4em;">jackandjillajmer@gmail.com</b>

                    </div>
                    <div id="imageby">
                        <img src="https://www.jackandjill.in/images/uploads/contact_us.jpg" alt="...">
                    </div>
                </div>

            </div>

        </div>

    </div>

    <script src="/static/js/chat_connection.js?{% now " U" %}""></script>
    <script src="/static/js/chat_connection.js?{% now " U" %}""></script>
    <script src="/static/js/others.js?{% now " U" %}""></script>

</body>

</html>